<% provide(:title, "About") %>
<div class="container-fluid" id="main">
  <div class="row">
    <h2>The website "Best Song" <br /> <small>would like to help you in selection 
      the most suitable songs for your event.</small></h2>
    <div id="goto">
      <p><i>Oldies</i>: released til 1980 
      <p><i>Modern</i>: released after 1980
      <p><i>Evergreen</i>: for all times
      <p><i>Croatia</i>: from the most beautiful country in the World
      <p><i>ExYu</i>: from a wonderful country that had to die
      <p><i>Dance</i>: for event with dance 
      <p><i>Sing</i>: karaoke
      <p><i>Dream</i>: to fly in dreams
    </div>
  </div><!-- row -->

<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("elvis-presley-web.jpg", alt: "Elvis Prisley", 
        title: "Elvis Prisley - The King", class: "thumbnail img-responsive"), "#" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("willie-nelson-web.jpg", alt: "Willie Nelson", 
        title: "Willie Nelson with Trigger", class: "thumbnail img-responsive"), "#" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("mick-jagger-web.jpg", alt: "Mick Jagger", 
        title: "Mick Jagger - Sir Michael Philip Jagger", class: "thumbnail img-responsive"), "#" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("oliver-dragojevic-web.jpg", alt: "Oliver Dragojevi&#263;", 
        title: "Oliver Dragojevi&#263; - &#262;oro", class: "thumbnail img-responsive"), "#" %>
    </div>
  </div><!-- row -->

</div>