<% provide(:title, "About") %>
<div class="container-fluid" id="main">
  <div class="row">

    <h2>The webpage "Top Songs" can help You enjoy in:</h2>

    <div id="goto">
      <p><i>Oldie, Modern, Evergreen</i>: selected wonderful songs, Oldie until 1980 and Modern after, as well as Evergreen for ever
      <p><i>Croatia, ExYu</i>: some wonderful songs from Croatia and the other regions of the former Yugoslavia
      <p><i>Dance, Sing, Dream</i>: dancing and/or singing and/or fly in dreams
      <p><i>Children</i>: entertainment with kids
      <p><i>Lyrics</i>: lyrics with guitar chords for some wonderful songs
    </div>

<hr><br />

    <div class="col-lg-3 col-sm-3 col-xs-6">
      <img class="thumbnail img-responsive" 
        src="assets/elvis-presley.jpg" 
          alt="Elvis Prisley" title="Elvis Prisley - The King">
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <img class="thumbnail img-responsive" 
        src="assets/willie-nelson-web.jpg" 
          alt="Willie Nelson" title="Willie Nelson with Trigger">
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <img class="thumbnail img-responsive" 
        src="assets/sir-mick-jagger-web.jpg" 
          alt="Mick Jagger" title="Mick Jagger - Sir Michael Philip Jagger">
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <img class="thumbnail img-responsive" 
        src="assets/oliver-dragojevic-web.jpg" 
          alt="Oliver Dragojevic" title="Oliver Dragojevi&#263; - &#262;oro">
    </div>

  </div>
</div>