<% provide(:title, "Contact") %>
<div class="container-fluid" id="main">
  <div class="row">

	<h2>I'm enjoying in those wonderful songs.</h2>
	<div id="goto">
		<p><i>Name:</i> Zvonimir Kolumbic</p>
		<p><i>Street:</i> Kresimirova 1</p>
		<p><i>City:</i> 5100 Rijeka</p>
		<p><i>Country:</i> Croatia</p>
		<p><i>Phone:</i> ++385 51 214 214</p>
		<p><i>Mobile:</i> ++385 91 767 1469</p>
		<p><i>e-mail:</i> zvonimir.kolumbic1@ri.t-com.hr</p>
	</div>
<br>
  <div class="col-lg-3 col-sm-4 col-xs-6">
    <img class="thumbnail img-responsive" 
      src="assets/ray-charles-web.jpg" 
        alt="Ray Charles" title="Ray Charles - The Genius">
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
    <img class="thumbnail img-responsive" 
      src="assets/jimi-hendrix-web.jpg" 
        alt="Jimi Hendrix" title="Jimi Hendrix - Buster">
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
    <img class="thumbnail img-responsive" 
      src="assets/joe-cocker-web.jpg" 
        alt="Joe Cocker" title="Joe Cocker - The Sheffield Soul Shouter">
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
    <img class="thumbnail img-responsive" 
      src="assets/tomislav-bralic-klapa-intrade-web.jpg" 
        alt="Tomislav Brali&#263;" title="Tomislav Brali&#263; i Klapa Intrade">
  </div>

  </div>
</div>