<% provide(:title, "Contact") %>
<div class="container-fluid" id="main">
  <div class="row">
  	<h2>I'm enjoying in those wonderful songs.</h2>
  	<div id="goto">
  		<p><i>Name:</i> Zvonimir Kolumbic</p>
  		<p><i>Street:</i> Kresimirova 1</p>
  		<p><i>City:</i> 5100 Rijeka</p>
  		<p><i>Country:</i> Croatia</p>
  		<p><i>Phone:</i> ++385 51 214 214</p>
  		<p><i>Mobile:</i> ++385 91 767 1469</p>
  		<p><i>e-mail:</i> zvonimir.kolumbic1@ri.t-com.hr</p>
  	</div>
  </div><!-- row -->

<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("ray-charles-web.jpg", alt: "Ray Charles", 
        title: "Ray Charles - The Genius", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Ray_Charles" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("jimi-hendrix-web.jpg", alt: "Jimi Hendrix", 
        title: "Jimi Hendrix - Buster", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Jimi_Hendrix" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("joe-cocker-web.jpg", alt: "Joe Cocker", 
        title: "Joe Cocker - The Sheffield Soul Shouter - Buster", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Joe_Cocker" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("tomislav-bralic-web.jpg", alt: "Tomislav Brali&#263;", 
        title: "Tomislav Brali&#263; i Klapa Intrade", class: "thumbnail img-responsive"), "https://www.facebook.com/intradeklapasluzbenastranica/" %>
    </div>
  </div><!-- row -->

</div>