<% provide(:title, "Help") %>
<div class="container-fluid" id="main">
  <div class="row">
  	<h2>Help</h2>
    <dl>
      <dt>I wish to select and after that listen to a song.</dt>
      <dd>Using menu bar, select category: Oldie, Modern, Evergreen, Croatia, Ex Yu, 
        Dance, Sing or Dream and after that select the song.</dd>
      <dt>I wish listen to the songs one after the other without interruption.</dt>
      <dd>Using menu bar, select category: Oldie, Modern, Evergreen, Croatia, Ex Yu, 
        Dance, Sing or Dream and after that click  <button type="button" 
        class="btn btn-primary btn-xs">Play all</button>.</dd>
    </dl>
  </div><!-- row -->
<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("paul-mccartney-web.jpg", alt: "Paul McCartney", 
        title: "Sir James Paul McCartney", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Paul_McCartney" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("whitney-houston-web.jpg", alt: "Whitney Houston", 
        title: "Whitney Houston - Nippy", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Whitney_Houston" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("chuck-berry-web.jpg", alt: "Chuck Berry", 
        title: "Chuck Berry - Father of Rock 'n' Roll", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Chuck_Berry" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("vinko-coce-web.jpg", alt: "Vinko Coce", 
        title: "Vinko Coce - Trogirski Slavuj", class: "thumbnail img-responsive"), "https://hr.wikipedia.org/wiki/Vinko_Coce" %>
    </div>
  </div><!-- row -->

</div>