<% provide(:title, "Help") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Help</h2>

    <dl>
      <dt>I wish to select and after that listen to a song.</dt>
      <dd>Using top menu bar, near site name (Top Songs), select category: Oldie, 
          Modern, Evergreen, Croatia, Ex Yu, Dance, Sing, Dream or Child and after 
          that select song.</dd>
      <dt>I wish listen to the songs one after the other without interruption.</dt>
      <dd>In the smaller menu bar under the top menu bar select category by klicking 
          on the button: Oldie, Modern, Evergreen, Croatia, Ex Yu, Dance, Sing, Dream 
          or Child and after that listen to songs.</dd>
    </dl>

<hr><br />

    <div class="col-lg-3 col-sm-4 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/paul-mccartney-web.jpg" 
          alt="Paul McCartney" title="Sir James Paul McCartney">
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/whitney-houston-web.jpg" 
          alt="Whitney Houston" title="images/vinko-coce-web.jpg">
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/chuck-berry-web.jpg" 
          alt="Chuck Berry" title="Chuck Berry - Father of Rock 'n' Roll">
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/vinko-coce-web.jpg" 
          alt="Vinko Coce" title="Vinko Coce - Trogirski Slavuj">
    </div>

  </div>
</div>