<% provide(:title, "Home") %>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12" style="padding: 5px;">
          <div class="embed-responsive embed-responsive-16by9"> 
            <iframe class=embed-responsive-item 
              src="//youtube.com/embed/NUsoVlDFqZg?autoplay=1&loop=1&playlist=NUsoVlDFqZg"
              allowfullscreen  name="iframe_a">
            </iframe>
          </div>
      </div><!-- iframe -->
    <div class="col-lg-3 col-md-6 col-xs-12" style="padding: 5px;">
        <div class="panel panel-primary">
          <div class="panel-heading">On the Top
            <p>O tempora, o sapores!</p>        
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="//youtube.com/embed/uiGFZUnJgqU?autoplay=1&loop=1&playlist=uiGFZUnJgqU" 
                target="iframe_a">Oldies: Mack the Knife</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/nfWlot6h_JM?autoplay=1&loop=1&playlist=nfWlot6h_JM" 
                target="iframe_a">Modern: Shake It Off</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/NXYNPO3zIj8?autoplay=1&loop=1&playlist=NXYNPO3zIj8" 
                target="iframe_a">Evergreen: Let It Be</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/7PpoHjYOQRY?autoplay=1&loop=1&playlist=7PpoHjYOQRY" 
                target="iframe_a">Croatia: Jubin te</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/LKRaXPYSzKY?autoplay=1&loop=1&playlist=LKRaXPYSzKY" 
                target="iframe_a">Ex Yu: Zajdi zajdi</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/igNVdlXhKcI?autoplay=1&loop=1&playlist=igNVdlXhKcI" 
                target="iframe_a">Let's Dance: Bailando</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/M2d02jldI4o?autoplay=1&loop=1&playlist=M2d02jldI4o" 
                target="iframe_a">Let's Sing: Don't Forget To Remember Me</a></li>
              <li class="list-group-item"><a href="//youtube.com/embed/ZuupMrAhGXw?autoplay=1&loop=1&playlist=ZuupMrAhGXw" 
                target="iframe_a">Let's Dream: My Verdad</a></li>
            </ul>
          </div>
        </div>
      </div><!-- Top -->
    <div class="col-lg-3 col-md-6 col-xs-12" style="padding: 5px">
        <div class="panel panel-primary">
          <div class="panel-heading">Top Ten
            <p>Simply - the best!</p>        
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myOldies">Oldies</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myModern">Modern</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myEvergreen">Evergreen</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myCroatia">Croatia</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myExYu">Ex Yu</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myDance">Let's Dance</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#mySing">Let's Sing</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary btn-xs" 
                data-toggle="modal" data-target="#myDream">Let's Dream</button></li>
            </ul>
          </div>
        </div>
      </div><!-- Top Ten - cluster selection -->
    <div class="modal fade" id="myOldies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten Oldies</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/uiGFZUnJgqU?autoplay=1&rel=0" target="iframe_a">Mack the Knife</a></li>
    <li><a href="//youtube.com/embed/XI_DaBGjQNA?autoplay=1&rel=0" target="iframe_a">One Night With You</a></li>
    <li><a href="//youtube.com/embed/4YG__LBJVZ0?autoplay=1&rel=0" target="iframe_a">Only the Lonely</a></li>
    <li><a href="//youtube.com/embed/wyLjbMBpGDA?autoplay=1&rel=0" target="iframe_a">When the Saints Go Marching In</a>
    <li><a href="//youtube.com/embed/ucvcoWMFmW8?autoplay=1&rel=0" target="iframe_a">Adios Amigo</a></li>
    <li><a href="//youtube.com/embed/4b-by5e4saI?autoplay=1&rel=0" target="iframe_a">Chantilly Lace</a></li>
    <li><a href="//youtube.com/embed/zLkCWT2neuI?autoplay=1&rel=0" target="iframe_a">Hello Mary Lou</a></li>
    <li><a href="//youtube.com/embed/SYyGK118e3E?autoplay=1&rel=0" target="iframe_a">Return to Me</a></li>
    <li><a href="//youtube.com/embed/EACg8GoSm_4?autoplay=1&rel=0" target="iframe_a">Me and Bobby McGee</a></li>
    <li><a href="//youtube.com/embed/rlPazQMcNW8?autoplay=1&rel=0" target="iframe_a">Are You Lonesome Tonight </a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Oldies -->
    <div class="modal fade" id="myModern" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten Moderns</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/nfWlot6h_JM?autoplay=1&rel=0" target="iframe_a">Shake It Off</a></li>
    <li><a href="//youtube.com/embed/OPf0YbXqDm0?autoplay=1&rel=0" target="iframe_a">Uptown Funk</a></li>
    <li><a href="//youtube.com/embed/kJQP7kiw5Fk?autoplay=1&rel=0" target="iframe_a">Despacito</a></li>
    <li><a href="//youtube.com/embed/kffacxfA7G4?autoplay=1&rel=0" target="iframe_a">Baby</a></li>
    <li><a href="//youtube.com/embed/2vjPBrBU-TM?autoplay=1&rel=0" target="iframe_a">Chandelier</a></li>
    <li><a href="//youtube.com/embed/yyDUC1LUXSU?autoplay=1&rel=0" target="iframe_a">Blurred Lines</a></li>
    <li><a href="//youtube.com/embed/rYEDA3JcQqw?autoplay=1&rel=0" target="iframe_a">Rolling in the Deep</a></li>
    <li><a href="//youtube.com/embed/7PCkvCPvDXk?autoplay=1&rel=0" target="iframe_a">All About That Bass</a></li>
    <li><a href="//youtube.com/embed/0HDdjwpPM3Y?autoplay=1&rel=0" target="iframe_a">Bang Bang</a></li>
    <li><a href="//youtube.com/embed/09R8_2nJtjg?autoplay=1&rel=0" target="iframe_a">Sugar</a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Modern -->
    <div class="modal fade" id="myEvergreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten Evergreens</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/L-JQ1q-13Ek?autoplay=1&rel=0" target="iframe_a">Sounds of Silence</a></li>
    <li><a href="//youtube.com/embed/kd9TlGDZGkI?autoplay=1&rel=0" target="iframe_a">Walk of Life</a></li>
    <li><a href="//youtube.com/embed/MfmYCM4CS8o?autoplay=1&rel=0" target="iframe_a">Blaze of Glory</a></li>
    <li><a href="//youtube.com/embed/vUSzL2leaFM?autoplay=1&rel=0" target="iframe_a">Wonderful Tonight</a></li>
    <li><a href="//youtube.com/embed/7x8wPt8xarE?autoplay=1&rel=0" target="iframe_a">Please Forgive Me</a></li>
    <li><a href="//youtube.com/embed/Ae829mFAGGE?autoplay=1&rel=0" target="iframe_a">I Gimme All Your Lovin'</a></li>
    <li><a href="//youtube.com/embed/H9U6wsMmGXA?autoplay=1&rel=0" target="iframe_a">Don't Worry Be Happy</a></li>
    <li><a href="//youtube.com/embed/6NXnxTNIWkc?autoplay=1&rel=0" target="iframe_a">Whats Up</a></li>
    <li><a href="//youtube.com/embed/-T2MIGuA8p4?autoplay=1&rel=0" target="iframe_a">Red Red Wine</a></li>
    <li><a href="//youtube.com/embed/RcZn2-bGXqQ?autoplay=1&rel=0" target="iframe_a">Angie</a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Evergreen -->
    <div class="modal fade" id="myCroatia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten from Croatia</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/7PpoHjYOQRY?autoplay=1&rel=0" target="iframe_a">Jubin te</a></li>
    <li><a href="//youtube.com/embed/BAHpiQhMdlQ?autoplay=1&rel=0" target="iframe_a">Lipoto moja</a></li>
    <li><a href="//youtube.com/embed/y9jvu83mcbA?autoplay=1&rel=0" target="iframe_a">Galeb i ja</a></li>
    <li><a href="//youtube.com/embed/gzCGf6SOoEU?autoplay=1&rel=0" target="iframe_a">Prijatelju nije lako</a></li>
    <li><a href="//youtube.com/embed/OwGLoWImvNg?autoplay=1&rel=0" target="iframe_a">Mirno spavaj ruzo moja</a></li>
    <li><a href="//youtube.com/embed/5lKZMCThzVs?autoplay=1&rel=0" target="iframe_a">Skrinja jubavi</a></li>
    <li><a href="//youtube.com/embed/0WpQXUIJfpA?autoplay=1&rel=0" target="iframe_a">Konoba</a></li>
    <li><a href="//youtube.com/embed/1HHqK_L1A1w?autoplay=1&rel=0" target="iframe_a">Probudi me jutrom</a></li>
    <li><a href="//youtube.com/embed/7qwY7MGwpXc?autoplay=1&rel=0" target="iframe_a">Da te mogu pismom zvati</a></li>
    <li><a href="//youtube.com/embed/x-iGnc2yx1k?autoplay=1&rel=0" target="iframe_a">Oci boje lavande</a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Croatia -->
    <div class="modal fade" id="myExYu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten from Ex Yu</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/LKRaXPYSzKY?autoplay=1&rel=0" target="iframe_a">Zajdi zajdi</a></li>
    <li><a href="//youtube.com/embed/p53nkfwGde4?autoplay=1&rel=0" target="iframe_a">Osam tamburasa s Petrovaradina</a></li>
    <li><a href="//youtube.com/embed/7sX56qeOPkY?autoplay=1&rel=0" target="iframe_a">A ja sam negdje rujno vino pio</a></li>
    <li><a href="//youtube.com/embed/nQ8buO3ozzY?autoplay=1&rel=0" target="iframe_a">Naljutices me ti</a></li>
    <li><a href="//youtube.com/embed/dTvjDKPW7E0?autoplay=1&rel=0" target="iframe_a">Tamburasi s Dunava</a></li>
    <li><a href="//youtube.com/embed/l0dNP2sQTUU?autoplay=1&rel=0" target="iframe_a">Ne klepeci nanulama</a></li>
    <li><a href="//youtube.com/embed/XUPlebVbgHM?autoplay=1&rel=0" target="iframe_a">Salas u Malom Ritu</a></li>
    <li><a href="//youtube.com/embed/ci_oFkL-KhA?autoplay=1&rel=0" target="iframe_a">Bitola moj roden kraj</a></li>
    <li><a href="//youtube.com/embed/yBe8t2YDRJ8?autoplay=1&rel=0" target="iframe_a">Zlatne strune</a></li>
    <li><a href="//youtube.com/embed/FuxCT0T-7GQ?autoplay=1&rel=0" target="iframe_a">Poznat ces me i po mraku</a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Ex Yu -->
    <div class="modal fade" id="myDance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten for Dancing</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/NUsoVlDFqZg?autoplay=1&rel=0" target="iframe_a">Bailando</a></li>
    <li><a href="//youtube.com/embed/xFrGuyw1V8s?autoplay=1&rel=0" target="iframe_a">Dancing Queen</a></li>
    <li><a href="//youtube.com/embed/zrK5u5W8afc?autoplay=1&rel=0" target="iframe_a">Unchained Melody</a></li>
    <li><a href="//youtube.com/embed/nfWlot6h_JM?autoplay=1&rel=0" target="iframe_a">Shake It Off</a></li>
    <li><a href="//youtube.com/embed/hcm55lU9knw?autoplay=1&rel=0" target="iframe_a">Ai Se Eu Te Pego</a></li>
    <li><a href="//youtube.com/embed/OMOGaugKpzs?autoplay=1&rel=0" target="iframe_a">Every Breath You Take</a></li>
    <li><a href="//youtube.com/embed/DWO_eojWezg?autoplay=1&rel=0" target="iframe_a">Samba Pa Ti</a></li>
    <li><a href="//youtube.com/embed/imeXSRNRMeg?autoplay=1&rel=0" target="iframe_a">La Negra Tiene Tumbao</a></li>
    <!-- <li><a href="//youtube.com/embed/y6Sxv-sUYtM?autoplay=1&rel=0" target="iframe_a">Happy</a></li> -->
    <li><a href="//youtube.com/embed/6_Yaeqr1rms?autoplay=1&rel=0" target="iframe_a">Put Your Head On My Shoulder</a></li>
    <li><a href="//youtube.com/embed/9bZkp7q19f0?autoplay=1&rel=0" target="iframe_a">Gangnam Style</a></li>
        </ol>
          </div>
        </div>
      </div>
  </div><!-- Top Ten Dance -->
    <div class="modal fade" id="mySing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten for Singing</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/M2d02jldI4o?autoplay=1&rel=0" target="iframe_a">Don't Forget To Remember Me</a></li>
    <li><a href="//youtube.com/embed/05TGYk5gTLM?autoplay=1&rel=0" target="iframe_a">Islands in the Stream</a></li>
    <li><a href="//youtube.com/embed/WKkmfgp8mC8?autoplay=1&rel=0" target="iframe_a">Save the Last Dance for me</a></li>
    <li><a href="//youtube.com/embed/yRJZH2IyUns?autoplay=1&rel=0" target="iframe_a">Bye Bye Love</a></li>
    <li><a href="//youtube.com/embed/ekVyHbBvBwo?autoplay=1&rel=0" target="iframe_a">Goodbye my Love Goodbye</a></li>
    <li><a href="//youtube.com/embed/orTx-BDgL0k?autoplay=1&rel=0" target="iframe_a">By the Rivers of Babylon</a></li>
    <li><a href="//youtube.com/embed/_xSMHpDuswo?autoplay=1&rel=0" target="iframe_a">Blue Eyes Crying In The Rain</a></li>
    <li><a href="//youtube.com/embed/f7hptoEZQKI?autoplay=1&rel=0" target="iframe_a">Happy to be on an Island in the Sun</a></li>
    <li><a href="//youtube.com/embed/Tw5LaEzEcJw?autoplay=1&rel=0" target="iframe_a">The Gambler</a></li>
    <li><a href="//youtube.com/embed/Edbfp-mYRvI?autoplay=1&rel=0" target="iframe_a">Da te mogu pismom zvati</a></li>
        </ol>
          </div>
        </div>
      </div>
     </div><!-- Top Ten Sing -->
    <div class="modal fade" id="myDream" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: #0D47A1;">Top Ten for Dreaming</h4>
          </div>
          <div class="modal-body">
        <ol>
    <li><a href="//youtube.com/embed/ZuupMrAhGXw?autoplay=1&rel=0" target="iframe_a">Mi Verdad</a></li>
    <li><a href="//youtube.com/embed/hq2KgzKETBw?autoplay=1&rel=0" target="iframe_a">Have You Ever Really Loved A Woman?</a></li>
    <li><a href="//youtube.com/embed/9muzyOd4Lh8?autoplay=1&rel=0" target="iframe_a">Nights In White Satin</a></li>
    <li><a href="//youtube.com/embed/xLGe-QzCK4Q?autoplay=1&rel=0" target="iframe_a">Something</a></li>
    <li><a href="//youtube.com/embed/LwYS66Gbhwk?autoplay=1&rel=0" target="iframe_a">Help me Make it Trought the Night</a></li>
    <li><a href="//youtube.com/embed/JxPj3GAYYZ0?autoplay=1&rel=0" target="iframe_a">Tears In Heaven</a></li>
    <li><a href="//youtube.com/embed/uHD4kGY7tbs?autoplay=1&rel=0" target="iframe_a">Lost In The Fifties Tonight</a></li>
    <li><a href="//youtube.com/embed/w4yjZEVQnr0?autoplay=1&rel=0" target="iframe_a">El Destino</a></li>
    <li><a href="//youtube.com/embed/glggureA_Kk?autoplay=1&rel=0" target="iframe_a">Georgia On My Mind</a></li>
    <li><a href="//youtube.com/embed/U-d5Qh5yXYw?autoplay=1&rel=0" target="iframe_a">E Aloha No Honolulu</a></li>
        </ol>
          </div>
        </div>
      </div>
    </div><!-- Top Ten Dream -->
  </div><!-- row -->
</div><!-- container-fluid main -->
