<% provide(:title, "Members") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Members</h2>
      <ol>
        <li>Zvonimir Kolumbic</li>
        <li>Marija Kolumbic</li>
      </ol>
<br>
  </div><!-- row -->

<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("vinko-coce-web.jpg", alt: "Vinko Coce", 
        title: "Vinko Coce - Trogirski Slavuj", class: "thumbnail img-responsive"), "https://hr.wikipedia.org/wiki/Vinko_Coce" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("oliver-dragojevic-web.jpg", alt: "Oliver Dragojevi&#263;", 
        title: "Oliver Dragojevi&#263; - &#262;oro", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Oliver_Dragojevi%C4%87" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("tomislav-bralic-web.jpg", alt: "Tomislav Brali&#263;", 
        title: "Tomislav Brali&#263; i Klapa Intrade", class: "thumbnail img-responsive"), "https://www.facebook.com/intradeklapasluzbenastranica/" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("klapa-rispet-web.jpg", alt: "Klapa Ri&#353;pet", 
        title: "Klapa Ri&#353;pet i Ivo Amuli&#263;", class: "thumbnail img-responsive"), "https://www.facebook.com/klaparispet/" %>
    </div>
  </div><!-- row -->
</div>
