<% provide(:title, "Members") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Members</h2>
      <ol>
        <li>Zvonimir Kolumbic</li>
        <li>Lucija Eftimova</li>
      </ol>
<br>
    </div>

  </div>
</div>
