<% provide(:title, "Staff") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Staff</h2>
    <div id="goto">
    	<p>Zvonimir Kolumbic - admin</p>
      <p>Andrej Eftimov - 1st editor</p>
      <p>Luka Eftimov - 2nd editor</p>
<br />      
      <ul>
       <li><%#= link_to "Songs", songs_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
      </ul>
<br />
    </div>

  </div>
</div>