<% provide(:title, "Staff") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Staff</h2>
    <div id="goto">
    	<p>Zvonimir Kolumbic - admin</p>
      <p style="margin-bottom: 5px;">Andrej Eftimov - 1st editor - Songs for Children</p>
      <ul>
<!--        <li><%#= link_to "Songs", songs_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%#= link_to "Top Lyrics", toplyrics_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li> ..>
      </ul>
<br>
    </div>

  </div>
</div>