@import "bootstrap-sprockets";
@import "bootstrap"; 

/* {border: 1px solid #fff;} */

html {
  background-color: #0D47A1;  
}

body {
  background-color: #0D47A1;
}

/* Header */

div.container-fluid {
 padding: 0;
}

.row {
  margin: 0 7px;
}

.navbar {
  margin-bottom: 0px;
}

#header div.navbar {
  margin: 2px 0;
}

button.navbar-toggle {
  margin-right: 0px;
  border-color: #82B1FF;
  span.icon-bar {
    background-color: #82B1FF;
  }
  &:hover {
    background-color: #283593;
    span.icon-bar {
      background-color: #EDBF5F;
    }
  }
}

div.navbar-brand { 
  height: 54px;
  padding-top: 0px;
  padding-left: 0px;
  background-color: #0D47A1;  
  font-family: Georgia, Times, serif;
  font-size: 2em;
  font-weight: bold;
  img {
    margin-right: 5px;
  }
  a {
    padding-top: 2px;
    color: #D7AE52;
    text-decoration: none;
    &:hover {
    color: #EDBF5F;
    background-color: #0D47A1;  
    }
  }
}

ul.nav.navbar-nav li a {
  margin: 10px 2px;
  padding: 5px 5px;
  border: 1px solid #1976D2;
  border-radius: 5px;
  background-color: #283593;
  color: #82B1FF;
  font-weight: bold;
  &:hover {
    color: #EDBF5F;
  }
}

li.dropdown.open a.dropdown-toggle {
  color: #EDBF5F;
  background-color: #283593;
}

li.dropdown a.dropdown-toggle {
  background-color: #283593;
}

li.dropdown ul.dropdown-menu {
  background-color: #0D47A1;  
  border: 0;
  padding: 0;
    li a {
      margin: 2px;
  }
}

div#collapse-1.navbar-collapse.collapse.in ul.nav.navbar-nav {
  background-color: #0D47A1;  
  border: 0;
  margin: 2px 7px;
  padding: 0;
    li a {
      margin: 2px;
  }
}

/* Main */
/* Play all */

#playall {
  position: relative;
  text-align: center;
  span a {
    margin: 2px 0;
    padding:2px;
    color: #90CAF9;
    background-color: #283593;
    &:hover {
      color: #EDBF5F;
    }
  }
}

hr {
  margin: 1px 0;
  border-color: #1565C0;
}

/* Home */

iframe { 
  float:left;
}

div.panel.panel-primary {
  margin-bottom: 5px;
}

div.panel-heading {
  padding: 7px 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #1976D2 !important;
  color: #FED869 !important;
  p {
    margin-bottom: 0px;
    font-size:0.7em; 
    font-style:italic;
    font-weight: normal;
  }  
}

div.panel-body {
  background-color: #1565C0;
  padding: 7px;
  ul.list-group {
    margin-bottom: 0;
    li.list-group-item {
    padding: 9px;
    background-color: #283593;
    border-color: #64B5F6;
    }
    a {
    color: #64B5F6;
    text-decoration: none;
      &:hover {
        color: #EDBF5F;
        font-weight: bold;
      }
    }
  }
}

button.btn.btn-primary.btn-sm {
  border: 1px solid #64B5F6;
  background-color: #283593;
  color: #64B5F6;
  font-size: 1.1em;
  &:hover {
    color: #EDBF5F;
  }
}

div.modal-content {
  background-color: #1976D2;
  div.modal-header {
  padding: 7px 15px;
    h4 {
      color: #EDBF5F !important;
    }
  }
  div.modal-body {
    background-color: #283593;
    color: #64B5F6;
    padding: 10px 15px 5px 15px;
    a {
    text-decoration: none;
      &:hover {
        color: #EDBF5F;
      }
    }
  }
}

#accordionT div.panel-heading {
  background-color:  #283593 !important;
  a {
    color: #64B5F6;
    text-decoration: none;
    &:hover {
      color: #EDBF5F;
    }
  }
}

#accordionT div.panel-body {
  background-color:  #283593 !important;
}

pre {
  font-size: 1.2em;
}

/* Footer */

#footer div.row.wrapper div {
  display: inline-block;
}

#footer div.row div.navbar-brand {
  float: right;
  padding: 1px 0 15px 0;
  font-family: Georgia, Times, serif;
  font-size: 2em;
  font-weight: bold;
  a {
    color:  #D7AE52;
    text-decoration: none;
    background-color: #0D47A1;  
    &:hover {
      color: #EDBF5F;
      background-color: #0D47A1;  
    }
  }  
}

#footer div.row a {
  text-decoration: none;
  color: #90CAF9;
  background-color: #283593;
  &:hover {
    color: #EDBF5F;
  }
}

#footer div.row hr {
  clear: both;
}

div.wrapper div.btn {
  margin: 10px 0;
}

#footer div.row p {
  margin-top: 5px;
  font-family: Georgia, Times, serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #F3C860;
  text-align: center;
}

/* Collections */

div.col-md-7 {
  padding: 5px 5px 0 0;
}

.the-buttons {
  list-style:none;
  li {
    float: left;
    padding: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    a {
    background-color: #283593 !important;
    text-decoration: none;
      &:hover {
        background-color: #283593;
        color: #EDBF5F;
      }
    }
  }
}

/* Lyrics */

h2 {
  margin: 10px 0 15px 15px;
  color: #90CAF9;  
}

/* Static pages */

div#goto p {
  margin-left: 7px;
  color: #90CAF9;  
}

dl {
  margin-left: 10px;
  color: #BBDEFB;
  dd {
  margin-bottom: 10px;
  }
}

h3 {
  margin-left: 20px;
  color: #90CAF9;  
}

div#goto ul {
  margin-bottom: 10px;
  padding-left: 15px;
  li {
    color: #BBDEFB;
    list-style-type:none;
    display: inline;
    a {
      background-color: #283593;
      color: #BBDEFB;
      text-decoration: none;
      &:hover {
        color: #EDBF5F;
      }
    }
  }
}

/* Lyrics */

table.table.table-bordered tr th {
  color: #BBDEFB;
}

div.row label {
  color: #BBDEFB;
}

table.table.table-bordered tr td {
  color: #BBDEFB;
  a {
    background-color: #0D47A1;
    color: #BBDEFB;
    text-decoration: none;
    &:hover {
      color: #EDBF5F;
    }
  }
}

div.actions input {
  background-color: #283593;
  color: #BBDEFB;
  margin: 5px  0 5px 10px;
  font-weight: bold;
  &:hover {
    background-color: #283593;
    color: #EDBF5F;
  }
}

div.wrapper-edit {
  margin: 10px 0 0 10px;
}

div.wrapper-show p {
  margin: 15px 0 0 10px;
  color: #90CAF9;  
}
